@media (max-width: 780px) {
  /* NAVIGATION BAR */
  .hide-on-mobile {
    display: none;
  }
  .daftar-menu {
    display: block;
    color: #f5f5f5;
  }
  .side {
    width: 100%;
  }
  .logo-f1 {
    width: 30vw;
  }
  /* NAVIGATION BAR */
}
@media (max-width: 320px) {
  /* HALAMAN HOME */
  .opening .opening2 .opening3 .opening4 .paragraf-pertama {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .opening .opening2 .opening3 .judul-atas {
    font-size: 2rem;
  }
  .video .video1 .judul-bawah {
    font-size: 2rem;
  }
  .video .video1 .foto img {
    position: relative;
    left: 10vw;
    height: 35vh;
    width: 82vw;
    top: 15vh;
  }
  .video .video1 .pertama {
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 20vh;
    text-indent: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2rem;
    text-align: center;
  }
  .video .video1 .kedua {
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 10vh;
    text-indent: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2rem;
    text-align: center;
  }
  .video .video1 .ketiga {
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 10vh;
    text-indent: 1.5rem;
    text-align: justify;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2rem;
    text-align: center;
  }
  .video .video1 video {
    position: relative;
    left: 10vw;
    height: 35vh;
    width: 82vw;
    top: vh;
  }
  footer {
    height: 10vh;
  }
  .footer-element p {
    font-size: 1em;
    text-align: center;
  }
  /* HALAMAN HOME */
  /* HALAMAN DRIVER */
  main .background-table .background-table2 .cover-table table th,
  td {
    font-size: 1px;
  }
  h2 {
    position: relative;
    padding-left: 1vw;
    top: 8vh;
    text-align: center;
    padding-bottom: 5vh;
    font-size: 1.5rem;
  }
  h3 {
    padding-top: 7vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    font-size: 1.2rem;
    text-align: center;
  }
  ul .fact-inside {
    text-indent: 1.5rem;
    padding-left: 7vw;
    padding-right: 10vw;
    font-size: 1rem;
    text-align: center;
  }
  /* HALAMAN DRIVER */
  /* HALAMAN NEWS */
  .news-cover1 .news-cover2 h1 {
    position: relative;
    top: 10vh;
    padding-left: 6vw;
    font-size: 2rem;
    text-align: center;
  }
  main section .main-foto {
    position: relative;
    top: 18vh;
    padding-left: 6vw;
    width: 95vw;
    height: 30vh;
  }
  main section .second-foto {
    position: relative;
    width: 90vw;
    left: 5vw;
  }
  .news-cover1 .news-cover2 p {
    padding-left: 5vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
    line-height: 4.5vh;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
  }
  /* HALAMAN NEWS */
  /* HALAMAN ABOUT */
  .about-satu .about-dua h2 {
    font-size: 1.5rem;
  }
  .about-satu .about-dua p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1rem;
    text-align: center;
  }
  .about-satu .about-dua .paragraf-about {
    padding-top: 5vh;
  }
  .about-satu .kritik-saran .kritik-saran1 h2 {
    padding-right: 50vw;
    font-size: 1.5rem;
  }
  .about-satu .kritik-saran .type-pertama {
    font-size: 1em;
    max-width: 50vw;
    left: 0vw;
  }
  .about-satu .kritik-saran button {
    font-size: 10px;
    width: 10vw;
  }
  .about-satu .kritik-saran .text-area {
    font-size: 1rem;
    max-width: 70vw;
    max-height: 25vh;
  }
  .about-satu .about-dua p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1.2rem;
    text-align: center;
  }
  .about-satu .kritik-saran .kritik-saran1 {
    width: 75vw;
  }
  .about-satu .about-dua .paragraf-about p {
    padding-left: 0vw;
    padding-right: 0vw;
    font-size: 1rem;
  }
  .about-satu .about-dua h2 {
    padding-right: 0vw;
    padding-left: 0vw;
    font-size: 1rem;
  }
  .about-satu .kritik-saran .kritik-saran1 input::placeholder {
    font-size: 11px;
  }
  .about-satu .kritik-saran .kritik-saran1 textarea::placeholder {
    font-size: 11px;
  }
  /* HALAMAN ABOUT */
}

@media (min-width: 1024px) {
  /* HALAMAN HOME */
  .opening .opening2 .opening3 .paragraf-pertama {
    font-size: 1.5rem;
    line-height: 1.5em;
  }
  .video .video1 .judul-bawah {
    position: relative;
    top: 10vh;
    display: flex;
    padding-left: 5vw;
    font-size: 3rem;
    text-align: center;
  }
  /* HALAMAN HOME */
  /* HALAMAN NEWS */
  .news-cover1 .news-cover2 h1 {
    position: absolute;
    font-size: 2.8rem;
    top: 20vh;
  }
  /* HALAMAN NEWS */
  /* HALAMAN ABOUT */
  .about-satu .about-dua h2 {
    font-size: 2rem;
  }
  .about-satu .about-dua p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1.5rem;
    text-align: center;
  }
  .kritik-saran .kritik-saran1 h2 {
    position: relative;
    left: 8vw;
    font-size: 2rem;
  }
  .about-satu .kritik-saran .type-pertama {
    font-size: 1rem;
  }
  .about-satu .kritik-saran button {
    font-size: 1em;
  }
  .about-satu .kritik-saran .text-area {
    font-size: 1rem;
  }
  /* HALAMAN ABOUT */
}
@media (max-width: 480px) {
  /* HALAMAN NEWS */
  .news-cover1 .news-cover2 h1 {
    position: relative;
    top: 10vh;
    padding-left: 6vw;
    font-size: 2rem;
    text-align: center;
  }
  main section .main-foto {
    position: relative;
    top: 18vh;
    padding-left: 6vw;
    width: 95vw;
    height: 30vh;
  }
  main section .second-foto {
    position: relative;
    width: 90vw;
    left: 5vw;
  }
  .news-cover1 .news-cover2 p {
    padding-left: 5vw;
    padding-top: 20vh;
    padding-bottom: 10vh;
    line-height: 4.5vh;
    font-size: 1rem;
    font-weight: 400;
    text-align: start;
  }
  /* HALAMAN NEWS */
  /* Halaman about */
  .about-satu .about-dua h2 {
    font-size: 1.5rem;
  }
  .about-satu .about-dua p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1rem;
    text-align: center;
  }
  .about-satu .kritik-saran .kritik-saran1 {
    min-width: 70vw;
    min-height: 70vh;
    left: 15vw;
  }
  .kritik-saran .kritik-saran1 h2 {
    position: relative;
    padding-left: 10vw;
    font-size: 2rem;
  }
  .about-satu .kritik-saran .type-pertama {
    width: 40vw;
    left: 15vw;
  }
  .about-satu .kritik-saran button {
    min-width: 15vw;
    min-height: 4vw;
    font-size: 12px;
  }
  .about-satu .kritik-saran .text-area {
    width: 60vw;
    height: 25vh;
    left: 5vw;
  }
  .opening .opening2 .opening3 .opening4 .paragraf-pertama{
    font-size: 1.2rem;
  }
  .opening .opening2 .opening3 .judul-atas{
    font-size: 1.5rem;
  }
  .about-satu .kritik-saran .kritik-saran1 input::placeholder {
    font-size: 12px;
  }
  .about-satu .kritik-saran .kritik-saran1 textarea::placeholder {
    font-size: 12px;
  }
  /* Halaman about */
  /* HALAMAN DRIVER */
  main .background-table .background-table2 .cover-table table {
    max-width: 10vw;
  }
  main .background-table .background-table2 .cover-table table th,
  td {
    font-size: 1rem;
  }
  main .fact .fact-first ul h3 {
    font-size: 1.5rem;
  }
  main .fact .fact-first ul li {
    font-size: 1rem;
  }
  main header .judul-fact {
    font-size: 2rem;
  }
  /* HALAMAN DRIVER */
  /* HALAMAN HOME */
  .video .video1 .foto img{
    width: 72vw;
    left: 15vw;
    height: 40vh;
  }
  .video .video1 .judul-bawah{
    font-size: 2rem;
    left: 0;
  }
  .video .video1 .pertama {
    font-size: 1rem;
  }
  .video .video1 .kedua {
    font-size: 1rem;
  }
  .video .video1 .ketiga {
    font-size: 1rem;
  }
  .footer-element p {
    font-size: 1rem;
  }
  /* HALAMAN HOME */
}
@media (min-width: 768px) {
  /* HALAMAN ABOUT */
  .kritik-saran .kritik-saran1 h2 {
    position: relative;
    left: 15vw;
    font-size: 1.8rem;
  }
  .about-satu .kritik-saran .type-pertama {
    font-size: 1em;
    min-width: 25vw;
    left: 10vw;
  }
  .about-satu .kritik-saran button {
    font-size: 10px;
    width: 10vw;
  }
  .about-satu .kritik-saran .text-area {
    font-size: 1rem;
    min-width: 35vw;
    min-height: 15vw;
    left: 5vw;
  }
  .about-satu .about-dua h2 {
    font-size: 2rem;
  }
  .about-satu .about-dua p {
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 1.2rem;
    text-align: center;
  }
  .about-satu .kritik-saran .kritik-saran1 {
    min-width: 45vw;
    min-height: 65vh;
    left: 30vw;
  }
  /* HALAMAN ABOUT */
  /* HALAMAN NEWS */
  main .news-cover1 .news-cover2 h1 {
    font-size: 3rem;
  }
  /* HALAMAN NEWS */
  /* HALAMAN HOME */
  .opening .opening2 .opening3 .opening4 .paragraf-pertama {
    font-size: 1.5rem;
  }
  .video .video1 .pertama {
    font-size: 1rem;
  }
  .video .video1 .kedua {
    font-size: 1rem;
  }
  .video .video1 .ketiga {
    font-size: 1rem;
  }
  .video .video1 .judul-bawah {
    font-size: 2.5rem;
  }
  .footer-element p {
    font-size: 1rem;
  }
  /* HALAMAN HOME */
  /* HALAMAN DRIVER */
  main .background-table .background-table2 .cover-table table th,
  td {
    font-size: 1rem;
  }
  main .fact .fact-first ul h3 {
    font-size: 1.5rem;
  }
  main .fact .fact-first ul li {
    font-size: 1rem;
  }
  main header .judul-fact {
    font-size: 2rem;
  }
  /* HALAMAN DRIVER */
  /* HALAMAN NEWS */
  .news-cover1 .news-cover2 p {
    font-size: 1.2rem;
  }
  /* HALAMAN NEWS */
  /* HALAMAN ABOUT */
  .about-satu .kritik-saran .kritik-saran1 input::placeholder {
    font-size: 11px;
  }
  .about-satu .kritik-saran .kritik-saran1 textarea::placeholder {
    font-size: 11px;
  }
  /* HALAMAN ABOUT */
}
